<html>
    <head>
        <title>Librarian Page</title>
    </head>
    <body>
        <h1>Librarian functions</h1>

        <h4><a href="patrons_edit">Click here to update patron information</a></h4>

        <h4><a href="books_edit">Click here to update book information or add books</a></h4> 

    </body>
</html>
